@import url("https://fonts.googleapis.com/css2?family=Carme&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Carme";
}

:root {
  --bgColor: rgb(14, 174, 214);
  --searchIconColor: rgb(179, 255, 15);
  --txtColor: rgb(211, 211, 211);
  --textColor: rgb(50, 50, 50);
}
