.footer {
  text-align: center;
  padding: 1rem;
  margin-top: 2rem;
  margin-bottom: 0;
  background-color: rgb(50, 50, 50);
  color: rgb(211, 211, 211);
}

/* .container {
  position: absolute;
} */
