@import url("https://fonts.googleapis.com/css2?family=Carme&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Carme";
}

:root {
  --bgColor: rgb(14, 174, 214);
  --searchIconColor: rgb(179, 255, 15);
  --txtColor: rgb(100, 100, 100);
  --textColor: rgb(50, 50, 50);
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--bgColor);
  color: var(--textColor);
  height: 80px;
}

nav a {
  margin: 0 2rem;
  text-decoration: none;
  color: var(--textColor);
}

nav a:hover {
  color: var(--txtColor);
}

.nav-btn {
  padding: 5px;
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
  color: var(--txtColor);
  opacity: 0;
  font-size: 1.8rem;
  display: none;
}

.nav-btn:hover {
  color: var(--textColor);
}

@media only screen and (max-width: 1024px) {
  .nav-btn {
    opacity: 1;
    display: block;
  }

  .expanded {
    position: fixed;
    flex-direction: column;
    top: 0;
    right: 0;
    height: 100%;
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    transition: 1s;
    backdrop-filter: blur(15px);
    transform: translateX(70px);
    background: linear-gradient(
      180deg,
      rgb(5, 191, 219) 35%,
      rgb(147, 132, 209) 100%
    );
    z-index: 100;
    font-weight: 600;
  }

  .close {
    display: none;
  }

  .responsive_nav {
    transform: none;
  }

  .nav-close-btn {
    position: absolute;
    top: 2rem;
    left: 10rem;
  }
}
