* {
  overflow-x: hidden;
}

:root {
  --bgColor: rgb(14, 174, 214);
  --searchIconColor: rgb(179, 255, 15);
  --txtColor: rgb(211, 211, 211);
  --textColor: rgb(50, 50, 50);
}

.RecentlyViewedTrips {
  display: flex;
  flex-direction: row;
  overflowx: hidden;
  padding: 2rem 2rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(375px, 1fr));
}

.recenttrip-title {
  text-transform: capitalize;
  font-size: 2rem;
  color: black;
  justify-content: center;
  align-items: center;
  padding-top: 3rem;
  font-weight: 600;
  text-align: center;
}

.bg-rvtrips {
  background: linear-gradient(
    180deg,
    rgb(109, 169, 228) 35%,
    rgb(147, 132, 209) 100%
  );
}
