:root {
  --discoverWbgColor: linear-gradient(
    180deg,
    rgb(147, 132, 209) 50%,
    rgb(251, 37, 118)
  );
  --txtColor: rgb(211, 211, 211);
  --textColor: rgb(50, 50, 50);
}

.discover-world {
  background: var(--discoverWbgColor);
}

.discover-titles {
  text-transform: capitalize;
  font-size: 2rem;
  color: black;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  font-weight: 600;
  text-align: center;
}

/* /////    FEATURE  ////// */
.feature-box-link {
  text-decoration: none;
  color: var(--textColor);
  cursor: pointer;
}

.feature-box-link:hover {
  opacity: 0.8;
}

.feature-box {
  display: flex;
  flex-direction: column;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  width: 250px;
  height: 170px;
  border-radius: 20px;
  padding: 1rem;
  margin: 20px auto;
}

.feature-box-icons {
  width: 40px;
  height: 40px;
  margin: 5px auto;
}

.feature-box-title {
  text-transform: capitalize;
  color: black;
  font-weight: 600;
}

.feature-box-details {
  padding-top: 1rem;
}

.feature-box-container {
  padding: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
}

/* ////////  FEEDBACK ////////////// */

.main-feedback-container {
  display: flex;
  flex-direction: column;
  position: relative;
}

.feedback-card-container {
  padding: 2rem;
  justify-content: center;
  overflow-x: scroll;
  transition: 0.2s;
  background-color: black;
  border-radius: 2rem;
  height: 350px;
  padding: 3rem;
  display: inline-block;
  display: flex;
  margin: 1rem auto;
}

.feedback-card-container::-webkit-scrollbar {
  display: none;
}

.feedbackarrow {
  position: absolute;
  transform: translate(0, -50%);
  width: 35px;
  height: 35px;
  top: 25%;
  z-index: 1;
  cursor: pointer;
  border: 2px solid black;
  border-radius: 50%;
  transition: 0.2s;
  margin: 1.5rem;
  background: white;
  opacity: 0.6;
}

.fleftArrow {
  position: absolute;
  left: 5rem;
}

.frightArrow {
  position: absolute;
  right: 6rem;
}
.feedbackarrow:hover {
  border: 3px solid rgb(14, 174, 214);
  opacity: 0.8;
}

.feedback-card {
  z-index: 50;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  box-shadow: rgb(134, 134, 134) 3px 3px 6px 0px inset,
    rgba(255, 255, 255, 0.4) -3px -3px 6px 1px inset;
  width: 270px;
  height: 200px;
  border-radius: 20px;
  padding: 20px;
  margin: 10px 1.5rem;
  background-color: white;
  color: var(--textColor);
}

.feedback-img {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
}

.feedback-name {
  text-transform: capitalize;
  color: black;
  font-weight: 600;
  padding: 10px 0;
}

/* ////////// LOCATION ///////// */

.location-card-container {
  padding: 2rem;
  display: grid;
  margin: 10px auto;
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
}

.location-card {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  width: 270px;
  height: 200px;
  border-radius: 20px;
  padding: 20px;
  margin: 20px auto;
  color: var(--textColor);
  text-decoration: none;
  cursor: pointer;
}

.location-card:hover {
  color: rgba(0, 0, 0, 0.1);
}

.location-name {
  text-transform: capitalize;
  color: white;
  font-weight: 800;
  font-size: 1.5rem;
}
